@font-face {
  font-family: glidden_light;
  src: url("./fonts/font_glidden/HouschkaPro-Light.ttf") format("ttf");
  font-family: glidden_bold;
  src: url("./fonts/font_glidden/HouschkaPro-Bold.ttf");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: glidden_ligth;
}

button,
h1,
h2,
h3,
h4 {
  font-family: glidden_bold;
}
